<h2>Login</h2>

<p>{{message}}</p>

<div>
  <div>
    <label for="login">Login</label>
    <input [(ngModel)]="userLogin" id="login" placeholder="Введите свой логин..." type="text">
  </div>
  <div>
    <label for="password">Login</label>
    <input [(ngModel)]="userPassword" id="password" placeholder="Введите свой пароль..." type="password">
  </div>
</div>

<div class="btn-group">
  <button (click)="login()" type="button">Login</button>
  <button (click)="logout()" type="button">Logout</button>
</div>
