<div>
  <h2>Selected Phrase Details</h2>

  <div>ID: {{phrase.id}}</div>

  <ng-container *ngIf="authService.isLoggedIn; then isAuth; else isNotAuth"></ng-container>
  
  <div class="btn-group">
    <button (click)="goToPhrasesList()" type="button">Go to Phrases List</button>
  </div>
</div>

<ng-template #isAuth>
  <div>Value: <input [(ngModel)]="editValue" type="text"></div>
  <div>Language: <input [(ngModel)]="editLanguage" type="text"></div>

  <div *ngIf="isChanged()" class="inline-btn">
    <button (click)="save()" type="button">Save</button>
  </div>
</ng-template>

<ng-template #isNotAuth>
  <div>Value: {{phrase.value}}</div>
  <div>Language: {{phrase.language}}</div>
</ng-template>
