<h3>Manage Phrases</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur cupiditate delectus distinctio dolore doloribus
  ea laborum magni, nisi, quaerat quas quo, repudiandae sapiente suscipit ullam unde voluptas voluptate? Illo,
  ullam!</p><p>Adipisci atque blanditiis dicta dolorum eum incidunt laboriosam officia porro repudiandae veritatis. A
  asperiores consequuntur fuga illo in, nam perferendis quam qui quia, reiciendis unde vel. Aliquam aliquid
  exercitationem fugit?</p><p>Accusantium, architecto, aut beatae commodi culpa eos fugiat impedit iure laborum modi
  natus non odio odit perspiciatis possimus quae quia repellat reprehenderit sapiente sint soluta vero voluptas.
  Dignissimos, quam quasi?</p><p>Accusantium atque eaque eligendi et maiores placeat qui recusandae? Culpa deleniti
  deserunt, dicta dolor dolore, esse expedita facilis harum id laboriosam neque tempora totam velit voluptate
  voluptates! Autem, nobis, porro!</p><p>Accusamus, ad blanditiis debitis dolorum iure magni modi mollitia quod,
  reprehenderit sit tempore ullam, vitae? Accusantium delectus earum enim eum hic ipsam iste minima molestiae nulla
  saepe sint ullam, voluptate.</p><p>Asperiores modi similique veritatis! Accusantium alias aliquid, doloribus ducimus
  error hic ipsam ipsum iste maiores nisi nostrum nulla, quae quam, quo recusandae rem repellat reprehenderit sequi sint
  sit velit veniam?</p><p>Aliquam, fugiat magni! Debitis dignissimos dolores, nobis odit quam quod unde. A beatae
  distinctio eligendi facilis, fuga illo illum inventore iste, labore, molestias mollitia nam quia quis quod recusandae
  repellendus.</p>
